################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectReport/FileContentIndex
/.vs/ProjectReport/v18
